html, body {
  margin: 0;
  padding: 0;
  width: 768px;
  margin: 0 auto;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

header {
  padding: 15px 0 15px 0;
  background-color: #222222;
  color: whitesmoke;
}

h1, h3 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

input {
  margin: 20px 0 20px 0;
  padding: 2px;
  width: 50%;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;

  border-radius: 3px;
  border: 2px solid mediumaquamarine;
}

input:focus {
  outline: none;
  border: 2px solid #222222;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px 30px;
}

tr.completed {
  background-color: mediumaquamarine;
}

button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

button#add-new-task {
  font-size: 1.2rem;
}