body {
  background-color: gray;
}

main {
  background-color: white;
  box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
}

.table {
  margin-bottom: 0;
}

.table th, .table td { 
  border-left: none !important; 
  border-right: none !important; 
}

.jumbotron {
  color: white;
  background-color: #3f8175;
  background: radial-gradient(
    circle at 30% -20%,
    #d6e3ab 5%, 
    #75a889 17%,
    #3f8175 45%,
    #333568 80%,
    #743c95 100%
  );

  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding: 1.6rem 0 1.6rem 0;
  border-radius: 0;
}

.jumbotron h1 {
  font-size: 3.4rem;
}

.jumbotron h3 {
  font-size: 1.8rem;
}

#inputs {
  padding: 0 10px 0 10px;
  margin-bottom: 2rem;
}

#inputs .btn {
  font-style: italic;
}

.form-control:focus {
  border-color: #333568;
}

tr.completed {
  background-color: #75a889;
  background: linear-gradient(
    90deg,
    #75a889 10%,
    #3f8175 50%,
    #333568 80%,
    #743c95 100%
  );
  font-style: italic;
  color: #e0e4d5;
}

.completed .mark-complete-button {
  visibility: hidden;
}

.swal-button--confirm {
  background-color: #743c95;
}
