body {
  background-color: gray;
}

main {
  background-color: white;
  box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.4);
}

.table {
  margin-bottom: 0;
}

.table th, .table td { 
  border-left: none !important; 
  border-right: none !important; 
}

.jumbotron {
  color: white;
  background-color: #3f8175;
  /* background: radial-gradient(
    circle at 30% -20%,
    #d6e3ab 17%, 
    #75a889 34%,
    #3f8175 51%,
    #333568 68%,
    #743c95 85%,
    #b765c7 100%
  ); */

  background: radial-gradient(
    circle at 30% -20%,
    #d6e3ab 5%, 
    #75a889 17%,
    #3f8175 45%,
    #333568 80%,
    #743c95 100%
  );

  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding: 1.6rem 0 1.6rem 0;
  border-radius: 0;
}

.jumbotron h1 {
  font-size: 3.4rem;
}

.jumbotron h3 {
  font-size: 1.8rem;
}

#inputs {
  padding: 0 10px 0 10px;
  margin-bottom: 2rem;
}

#inputs .btn {
  font-style: italic;
}

.form-control:focus {
  border-color: #333568;
}

tr.completed {
  background-color: #75a889;
  background: linear-gradient(
    90deg,
    #75a889 10%,
    #3f8175 50%,
    #333568 80%,
    #743c95 100%
  );
  font-style: italic;
  color: #e0e4d5;
}

.completed .mark-complete-button {
  visibility: hidden;
}

.swal-button--confirm {
  background-color: #743c95;
}


/* html, body {
  margin: 0;
  padding: 0;
  width: 768px;
  margin: 0 auto;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;

  background-color: #d8d8d8;
}

header {
  padding: 15px 0 15px 0;
  background-color: #222222;
  color: whitesmoke;
}

h1, h3 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

div#inputs {
  text-align: center;
}

input {
  margin: 20px 0 20px 0;
  padding: 2px;
  width: 50%;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;

  border-radius: 3px;
  border: 2px solid #71BC78;
}

input:focus {
  outline: none;
  border: 2px solid #222222;
}

table#task-table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: whitesmoke;
}

table, th, td {
  border: 1px solid #666666;
}

th, td {
  padding: 0.2rem 20px;
}

tr.completed {
  background-color: #71BC78;
  text-decoration: line-through;
  color: #dddddd;
}

button {
  border: none;
  border-radius: 3px;
  padding: 0.2rem 10px;

  color: whitesmoke;
  background-color: #222222;

  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 500;
}

button#add-new-task {
  font-size: 1.2rem;
  background-color: #71BC78;
  border-radius: 5px;
  padding: 0.2rem 25px;
}

button.mark-complete-button {
  background-color: #666666;
}

button.delete-button {
  background-color: darkred;
}

button:hover, button#add-new-task:hover {
  background-color: #222222;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #9dbea1;
  color: #dddddd;
}

button:disabled:hover {
  cursor: default;
} */