table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px 30px;
}

tr.completed {
  background-color: mediumaquamarine;
}

.completed .mark-complete-button {
  
}